<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">Cool Dialog!</div>
    </md-toolbar>

    <md-dialog-content layout-padding>

        <div ng-bind-html="dialog.greeting">

        </div>


        <ul ng-if="dialog.isPartOfSelection()">
            <li ng-repeat="scene in dialog.selectedScenes"> {{ scene.name }} </li>
        </ul>
        <br>
        <div ng-if="dialog.playlistAutocompleteNeeded">
            Playlist:
            <md-autocomplete

                    md-search-text="$ctrl.searchText"
                    md-items="item in $root.autoCompleteGetItems('playlists',$ctrl.searchText)"
                    md-selected-item="dialog.mdSelectedItem"

                    md-selected-item-change="dialog.onSelect(dialog.mdSelectedItem)"
                    md-item-text="item.name"
                    placeholder="{{ $ctrl.objectType }}">
                <md-item-template>
                    <span md-highlight-text="$ctrl.searchText" md-highlight-flags="^i">{{ item.name }}</span>
                </md-item-template>

            </md-autocomplete>
        </div>


    </md-dialog-content>

    <md-dialog-actions>
        <md-button aria-label="Close dialog" ng-click="dialog.close()" class="md-primary">
            Cancel
        </md-button>

        <md-button aria-label="Submit dialog" ng-click="dialog.submit()" class="md-warn">
            Proceed
        </md-button>
    </md-dialog-actions>


</md-dialog>
