<md-dialog>
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Advanced search</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="dialog.close()">
                    <span class="glyphicon glyphicon-remove"></span>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <h3>Instructions</h3>
                <p>Choose a search option from the drop down menu, and type in your query in the autocomplete input
                    below.
                    Once you select one of the possible results, your
                    query will be pasted into the 'Adv Search String'. You can add multiple queries and use the logic
                    operations AND(&amp;&amp;)
                    OR(||) and NOT(!!) and parenthesis.</p>

                <p>Example: Let's say you want to search for only lesbian scenes of actress 'Stoya'. First you'll choose
                    actors in the drop down menu and then, go into the auto complete and type in 'stoya' (case doesn't
                    matter)
                    which will yield {&quot;actors&quot;:&quot;Stoya&quot;} in the 'Adv search string'. Now you would
                    choose 'scene_tags' from the
                    drop and type 'les' which will yield {&quot;actors&quot;:&quot;Stoya&quot;}{&quot;scene_tags&quot;:&quot;Lesbian&quot;}.

                    Because we want 'stoya' AND 'lesbian' we will add the AND(&amp;&amp;) operator :
                    {&quot;actors&quot;:&quot;Stoya&quot;} &amp;&amp; {&quot;scene_tags&quot;:&quot;Lesbian&quot;}

                    We can also search for 'stoya' AND NOT 'lesbian, like so:
                    {&quot;actors&quot;:&quot;Stoya&quot;} &amp;&amp; (!!{&quot;scene_tags&quot;:&quot;Lesbian&quot;})
                </p>

                <h4>Finding untagged scenes:</h4>
                <p>
                    It's possible to find untagged scenes by simply erasing the 'value' value of the missing tag you
                    want to search for. For example, if you want to find all the scenes that are not tagged with any
                    actors you would do this: {&quot;actors&quot;:&quot;&quot;}. The same goes for scene_tags and
                    websites. So if you want to find scenes without scenes and without actors and without websites you
                    will do this: {&quot;actors&quot;:&quot;&quot;}&amp;&amp;{&quot;scene_tags&quot;:&quot;&quot;}&amp;&amp;{&quot;websites&quot;:&quot;&quot;}
                </p>

                <h4>Note:</h4>
                <p>
                    The spelling does not need to be exact. The search is case insensitive and the query value doesn't
                    need to match the result exactly. For example:Instead of {&quot;actors&quot;:&quot;Isis Love&quot;}
                    we can say {&quot;actors&quot;:&quot;isis&quot;} to search for scenes who are tagged with actors
                    which contain 'isis' in their name.

                </p>

                <div layout="column">
                    <md-input-container>
                        <label>Adv Search string</label>
                        <input ng-model="dialog.advSearchString">
                    </md-input-container>


                    <md-input-container>
                        <label>30 Previous Searches</label>
                        <md-select ng-model="dialog.advSearchString">
                            <md-option ng-repeat="option in dialog.remeberedQueries track by $index"
                            >
                                {{ option }}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <div layout="row">

                        <md-input-container>
                            <label>Search Option</label>
                            <md-select ng-model="dialog.selectedOption">
                                <md-option ng-repeat="option in dialog.options" ng-value="option.abbrev"
                                >
                                    {{ option.abbrev }}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container>
                            <label>Scene Properties</label>
                            <md-select ng-model="dialog.selectedOption"
                                       md-on-close="dialog.onSelect(dialog.selectedOption,'scene_properties')">
                                <md-option ng-repeat="option in dialog.scene_properties track by $index" ng-value="option"
                                >
                                    {{ option }}
                                </md-option>

                            </md-select>
                        </md-input-container>
                        <md-input-container>
                            <label>Actor Properties</label>
                            <md-select ng-model="dialog.selectedOption"
                                       md-on-close="dialog.onSelect(dialog.selectedOption,'actor_properties')">
                                <md-option ng-repeat="option in dialog.actor_properties track by $index" ng-value="option"
                                >
                                    {{ option }}
                                </md-option>

                            </md-select>
                        </md-input-container>

                    </div>





                </div>
                <md-autocomplete

                        md-search-text="dialog.actorSearchText"
                        md-items="item in $root.autoCompleteGetItems(dialog.selectedOption,dialog.actorSearchText)"
                        md-selected-item="dialog.mdSelectedItem"
                        md-item-text="item.name"
                        md-selected-item-change="dialog.onSelect(dialog.selectedOption,dialog.mdSelectedItem)"
                        md-floating-label="Autocomplete input">
                    <md-item-template>
                        <span md-highlight-text="dialog.actorSearchText" md-highlight-flags="^i">{{ item.name }}</span>
                    </md-item-template>

                </md-autocomplete>
                <md-button class="md-raised" ng-click="dialog.clearSearchString()">
                    Clear
                </md-button>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
                More on Wikipedia
            </md-button>
            <span flex></span>
            <md-button ng-click="dialog.close()">
                Close
            </md-button>
            <md-button ng-click="dialog.submit()">
                Submit
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>