<md-toolbar class="md-theme-indigo">
    <span layout="row" layout-align="start center">
        <h1 class="md-toolbar-tools">Sidenav</h1>

    <md-button class="md-icon-button" ng-click="$root.toggleRightWrapper()">
                <span class="glyphicon glyphicon-remove"></span>
            </md-button>

    </span>

</md-toolbar>

<md-content layout-margin="">

    <md-content>
        <md-tabs md-dynamic-height="" md-border-bottom="">

            <md-tab label="Search">
                <md-content class="md-padding">
                    <div layout="column" layout-align="center center">

                        <label>Search Field:</label>
                        <select ng-model="$ctrl.searchField" ng-change="$ctrl.searchTermChanged()">
                            <option ng-repeat="(key,val) in $ctrl.searchInFields" value="{{ key }}">{{ val }}</option>
                        </select>


                        <input type="text" ng-model="$ctrl.searchTerm" ng-model-options="{debounce: 500}"
                               ng-change="$ctrl.searchTermChanged()">

                        <label>Order By:</label>
                        <select ng-model="$ctrl.sortBy" ng-change="$ctrl.sortOrderChanged()">
                            <option ng-repeat="(key,val) in $ctrl.orderFields" value="{{ key }}">{{ val }}</option>
                        </select>

                        <label>Runner UP</label>
                        <input type="checkbox" ng-model="$ctrl.runnerUp" ng-change="$ctrl.runnerUpFilterChange()">

                        <div ng-if="$ctrl.sectionTypefunc('ActorList')">
                            <label>Grid View</label>
                            <input type="checkbox" ng-model="$ctrl.actorGridView" ng-change="$ctrl.saveGridView()">
                        </div>

                        <div ng-if="$ctrl.sectionTypefunc('SceneList')">
                            <label>Grid View</label>
                            <input type="checkbox" ng-model="$ctrl.sceneGridView" ng-change="$ctrl.saveGridView()">
                        </div>

                    </div>
                </md-content>
            </md-tab>

            <md-tab label="Info">
                <md-content class="md-padding">


                </md-content>
            </md-tab>


        </md-tabs>

    </md-content>


    <md-button ng-click="$root.toggleRightWrapper()" class="md-accent">
        Close this Sidenav
    </md-button>
</md-content>