

<!--

<div class="virtualRepeatdemoDeferredLoading">
    <md-content layout="column">

        <md-virtual-repeat-container id="vertical-container">
            <div layout="column">
                <div md-virtual-repeat="item in $ctrl.dynamicItems" md-on-demand="" flex class="repeated-item-general">
                    <div layout="row"  >
                        <div flex="1">{{$index + 1}}</div>
                        <div flex="30" ><a href="/#!/{{ $ctrl.linkAid }}/{{ item.id }}">{{ item.name }}</a></div>
                        <div flex="20" layout="column">
                            <div flex><b>Uses:</b> {{ item.usage_count }}</div>
                            <div flex>Play Count: {{ item.play_count }}</div>
                            <div flex>Date Added: {{ item.date_added | date:'dd MMMM yyyy':'z'}}</div>

                        </div>
                       <md-button ng-click="$ctrl.deleteFromDb(item)">Delete</md-button>
                    </div>
                </div>


            </div>
        </md-virtual-repeat-container>


    </md-content>
</div>

<div class="row">
    <div class="col-md-4" id="left">
        <div class="well"><h3>
                <span ng-repeat="n in $ctrl.nav"

                      class="on-hover-red-cursor-pointer">
                    <a href="#!/folder/{{ n.id }}"> {{ n.last_folder_name_only }}  </a>>
                </span>
        </h3></div>
        <label>Recursive? </label>
        <input type="checkbox" ng-model="$ctrl.recursive" ng-change="$ctrl.recursiveToggle()">
        <pagination page-type="'DbFolder'"></pagination>
        <ul class="dbFolders">
            <li ng-model="$ctrl.dbFolders"
                ng-repeat="folder in $ctrl.dbFolders"
                class="thumbnail">
                    <span
                            uib-popover="{{ folder.name }}"
                            popover-trigger="mouseenter" popover-placement="right-top"
                    ><a
                            href="#!/folder/{{ folder.id }}">{{$index + 1}}) {{ folder.last_folder_name_only }} </a>  </span>


                <!--
                <ul>
                    <scene-list pk="folder.scenes"></scene-list>
                </ul>
                -->
<!--
            </li>
        </ul>



    </div>
    <div class="col-md-8">

        <div class="scene-list">


        </div>

    </div>


</div>
-->

 <md-sidenav class="md-sidenav-right" md-component-id="right" md-disable-backdrop="" md-whiteframe="4">

      <div ng-include="'static/js/app/db-folder-tree/side-nav-content.html'"></div>

</md-sidenav>

<section-list-wrapper main-page="false" section-type="'SceneList'"></section-list-wrapper>