<md-toolbar class="md-theme-indigo">
    <span layout="row" layout-align="start center">
        <h1 class="md-toolbar-tools">{{ $ctrl.actor.name }} (Has {{ $ctrl.actor.scenes.length }} scenes in the
        database.)</h1>

    <md-button class="md-icon-button" ng-click="$root.toggleRight()">
                <span class="glyphicon glyphicon-remove"></span>
            </md-button>

    </span>
</md-toolbar>

<md-content layout-margin="">

    <md-content>

         <span ng-repeat="folder in $ctrl.nav">
            <span ng-click="$ctrl.navClick(folder)"  class="on-hover-red-cursor-pointer" >{{ folder.name }}</span>
        </span>

        <div class="virtualRepeatdemoDeferredLoading-folders">
            <md-content layout="column">

                <md-virtual-repeat-container id="vertical-container">
                    <div layout="column">
                        <div md-virtual-repeat="item in $ctrl.dynamicItems" md-on-demand="" flex
                             class="repeated-item">
                            <span ng-click="$ctrl.folderClick(item)">{{ $index + 1 }} {{ item.last_folder_name_only }}</span>
                        </div>
                    </div>
                </md-virtual-repeat-container>
            </md-content>
        </div>

<!--
        <div class="well"><h3>
                <span ng-repeat="n in $ctrl.nav"

                      class="on-hover-red-cursor-pointer">
                    <a href="#!/folder/{{ n.id }}"> {{ n.last_folder_name_only }}  </a>>
                </span>
        </h3></div>
        <label>Recursive? </label>
        <input type="checkbox" ng-model="$ctrl.recursive" ng-change="$ctrl.recursiveToggle()">
        <pagination page-type="'DbFolder'"></pagination>
        <ul class="dbFolders">
            <li ng-model="$ctrl.dbFolders"
                ng-repeat="folder in $ctrl.dbFolders"
                class="thumbnail">
                    <span
                            uib-popover="{{ folder.name }}"
                            popover-trigger="mouseenter" popover-placement="right-top"
                    ><a
                            href="#!/folder/{{ folder.id }}">{{$index + 1}}) {{ folder.last_folder_name_only }} </a>  </span>


                <!--
                <ul>
                    <scene-list pk="folder.scenes"></scene-list>
                </ul>
                -->
<!--
            </li>
        </ul>
        -->
    </md-content>
</md-content>