<input type="text" ng-model="$ctrl.selectedTag" placeholder=""
       uib-typeahead="address as address.name for address in $ctrl.getTags($viewValue)| limitTo:8"
       typeahead-loading="loadingLocations"
       typeahead-no-results="noResults"
       typeahead-on-select="$ctrl.onSelect($item, $model, $label); $ctrl.selectedTag = '';"
       typeahead-wait-ms="500"


>

<!--Documentation in https://material.angularjs.org/latest/api/directive/mdAutocomplete -->
<md-autocomplete

                 md-search-text="$ctrl.mdSearchText"
                 md-selected-item="$ctrl.mdSelectedItem"

                 md-selected-item-change="$ctrl.onSelect($ctrl.mdSelectedItem)"
                 md-items="item in $ctrl.getTags($ctrl.mdSearchText)"
                 md-min-length="2"
                 md-select-on-match="true"
                 md-match-case-insensitive="true"
                 md-item-text="item.name"
                 placeholder="{{ $ctrl.objectType }}">
        <md-item-template>
          <span md-highlight-text="$ctrl.mdSearchText" md-highlight-flags="^i">{{item.name}}</span>
        </md-item-template>
        <md-not-found>
          No states matching "{{ctrl.searchText}}" were found.
          <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
        </md-not-found>
      </md-autocomplete>





<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
<div ng-show="noResults">
    <i class="glyphicon glyphicon-remove"></i> No Results Found
</div>