<div layout="row">
    <span>
        {{$index + 1}}
        <md-checkbox ng-if="$ctrl.tagMultiple" ng-model="scene.selected"
                     ng-click="$ctrl.sceneSelectToggle(scene)">
        </md-checkbox>
    </span>

    <div class="scene-image" layout="column" flex="none">
        <a href="/#!/scene/{{ scene.id }}">
            <img ng-src="{{ scene.thumbnail }}.360" style="width: 360px;border: solid 2px"/>
        </a>

    </div>

    <div layout="column" flex-offset="5" flex="70" layout-align="start start" >
        <div><h3><a href="/#!/scene/{{ scene.id }}">{{ scene.name }}</a></h3></div>
        <div>
            <md-chips ng-model="scene.actors"
                      md-autocomplete-snap
                      md-on-add="$ctrl.chipOnAdd($chip,'actors',scene)"
                      md-on-remove="$ctrl.chipOnRemove($chip,'actors',scene)"

                      md-transform-chip="$ctrl.transformChip($chip,'actors',scene)">
                <md-autocomplete
                        md-search-text="searchText"
                        md-items="item in $root.autoCompleteGetItems('actors',searchText)"
                        md-item-text="item.name"
                        md-autoselect="true"
                        md-select-on-match="true"
                        md-no-cache="true"
                        placeholder="Add an Actor">

                    <md-item-template>
                                  <span class="item-title">
                                    <img ng-src="{{ item.thumbnail }}.64" class="md-avatar" style="width: 32px">
                                    <span md-highlight-text="searchText" md-highlight-flags="gi">{{ item.name }}</span>
                                  </span>

                    </md-item-template>


                </md-autocomplete>
                <md-chip-template>
                    <img ng-src="{{$chip.thumbnail}}.64" style="width: 16px">
                    <a href="#!/actor/{{ $chip.id }}"><span>{{$chip.name}}</span></a>
                </md-chip-template>
            </md-chips>
        </div>

        <div>
            <md-chips ng-model="scene.scene_tags"
                      md-autocomplete-snap
                      md-on-add="$ctrl.chipOnAdd($chip,'scene_tags',scene)"
                      md-on-remove="$ctrl.chipOnRemove($chip,'scene_tags',scene)"

                      md-transform-chip="$ctrl.transformChip($chip,'scene_tags',scene)">

                <md-autocomplete
                        md-search-text="searchText"
                        md-items="item in $root.autoCompleteGetItems('scene_tags',searchText)"
                        md-item-text="item.name"
                        md-autoselect="true"
                        md-select-on-match="true"
                        md-no-cache="false"
                        placeholder="Add Scene Tag">
                    <span md-highlight-text="searchText">{{ item.name }}</span>
                </md-autocomplete>
                <md-chip-template>
                    <a href="#!/scene-tag/{{ $chip.id }}"><span>{{$chip.name}}</span></a>
                </md-chip-template>
            </md-chips>
        </div>

        <div>
            <md-chips ng-model="scene.websites"
                      md-autocomplete-snap
                      md-on-add="$ctrl.chipOnAdd($chip,'websites',scene)"
                      md-on-remove="$ctrl.chipOnRemove($chip,'websites',scene)"

                      md-transform-chip="$ctrl.transformChip($chip,'websites',scene)">
                <md-autocomplete
                        md-search-text="searchText"
                        md-items="item in $root.autoCompleteGetItems('websites',searchText)"
                        md-item-text="item.name"
                        md-autoselect="true"
                        md-select-on-match="true"
                        md-no-cache="true"
                        placeholder="Add a website">

                    <span md-highlight-text="searchText">{{ item.name }}</span>
                </md-autocomplete>
                <md-chip-template>
                    <a href="#!/website/{{ $chip.id }}"><span>{{$chip.name}}</span></a>
                </md-chip-template>
            </md-chips>
        </div>
    </div>

    <div layout="column" flex="10" layout-align="center center">
        <md-menu>
            <md-button class="md-raised" ng-click="$ctrl.openMenu($mdOpenMenu, $event)">
                Button
            </md-button>
            <md-menu-content width="4">


                <md-menu-item ng-repeat="item in $ctrl.actionList">
                    <md-button
                            ng-click="$ctrl.actionClicked($event, item, scene, $ctrl.selectedScenes)">
                        {{ item.name }}
                    </md-button>
                </md-menu-item>

            </md-menu-content>
        </md-menu>
        <md-button class="md-raised" ng-click="$ctrl.playScene(scene)">
            Play Scene
        </md-button>
        <md-button>Place holder</md-button>
    </div>


</div>


