<span>
<pagination page-type="'Scene'"></pagination>
</span>
<div ng-if="!$ctrl.gridView">
    <button type="button" ng-click="$ctrl.multiTag()" class="btn btn-default btn-sm">
        Tag/Delete Multiple Scenes
    </button>
    <button type="button" ng-click="$ctrl.playRandomScene()" class="btn btn-default btn-sm">
        Play Random
    </button>

    <button type="button" ng-if="$ctrl.tagMultiple" ng-click="$ctrl.selectAll()" class="btn btn-default btn-sm">
        Select All
    </button>

    <button type="button" ng-if="$ctrl.tagMultiple" ng-click="$ctrl.selectNone()" class="btn btn-default btn-sm">
        Select None
    </button>

    <md-button class="md-raised" ng-click="$ctrl.advSearch($event)">
        Adv Search
    </md-button>

    <!--
    <div ng-if="$ctrl.gotPromise" class="virtualRepeatdemoInfiniteScroll">
        <md-content layout="column">
            <md-virtual-repeat-container md-auto-shrink="true" id="vertical-container">

                <div md-virtual-repeat="scene in $ctrl.infiniteItems" md-on-demand="" class="repeated-item" flex="">
                    <table>
                        <td>
                    <a href="/#!/scene/{{ scene.id }}">
                        <img ng-src="{{ scene.thumbnail }}" class="thumb-wide"
                             alt="{{ scene.name }}"
                        />
                    </a>
                </td>
                <td>
                    <h4>
            <span>
                <md-checkbox ng-if="$ctrl.tagMultiple" ng-model="scene.selected"
                             ng-click="$ctrl.sceneSelectToggle(scene)" aria-label="Checkbox 1">
                </md-checkbox>

                {{$index + 1}})
                <a href="/#!/scene/{{ scene.id }}">  {{ scene.name }}</a>

                            <span class="glyphicon glyphicon-play-circle on-hover-red-cursor-pointer"
                                  uib-popover-html="'Play scene.'"
                                  popover-trigger="mouseenter" popover-placement="right"
                                  ng-click="$ctrl.playScene(scene)"


                            ></span>

                <label class="switch"
                       uib-popover-html="'Toggle Runner Up.'"
                       popover-trigger="mouseenter" popover-placement="top">
                <input type="checkbox" ng-model="scene.is_runner_up" ng-change="$ctrl.sceneRunnerUpToggle(scene)">
                <div class="slider round"></div>
                </label>

                </span>

                    <span ng-click="$ctrl.confirmRemove(scene,scene,'delete',false)"
                          class="glyphicon glyphicon-trash on-hover-red-cursor-pointer"
                          uib-popover-html="'<strong>Remove</strong> scene(s) from the database!'"
                          popover-trigger="mouseenter">

                            </span>

                    <span ng-if="$ctrl.tagMultiple" ng-click="$ctrl.confirmRemove(scene,scene,'delete',true)"
                          class="glyphicon glyphicon-fire on-hover-red-cursor-pointer"
                          uib-popover-html="'<h2><font color=&quot;red&quot;>CAUTION!</h2></font><strong>Will delete
                           the scene(s) files from disk!</strong><i> Will only work if at least one
                          item is checked, this is to avoid accidental deletion.'"
                          popover-trigger="mouseenter">

                    </span>
                        <button

                                class="btn btn-success btn-xs"
                                popover-trigger="outsideClick"
                                uib-popover-template="'static/partials/popover-templates/popover-playlist.template.html'"
                                popover-append-to-body="true"
                                popover-placement="top"
                                type="button" class="btn btn-success">
                                    <span
                                            popover-trigger="mouseenter"
                                            uib-popover-html="'Add Scene to a playlist.'"
                                            popover-append-to-body="true"
                                            popover-placement="top"

                                            class="glyphicon glyphicon-plus"></span>
                        </button>

                        <span ng-click="$ctrl.removeSceneFromPlaylist(scene)">
                            <button
                                    ng-if="$ctrl.playlistLoaded"

                                    class="btn btn-danger btn-xs"
                                    popover-trigger="mouseenter"
                                    uib-popover-html="'Remove Scene From current playlist.'"
                                    popover-append-to-body="true"
                                    popover-placement="top"
                                    type="button" class="btn btn-danger">
                                    <span

                                            class="glyphicon glyphicon-minus"></span>

                        </button>
                        </span>


                    </h4>






                        <span>
                            <uib-rating ng-model="scene.rating" max="10" read-only="isReadonly"
                                        on-hover="hoveringOver(value)"
                                        on-leave="overStar = null" titles="['one','two','three']"
                                        aria-labelledby="default-rating"
                                        ng-click="$ctrl.sceneRatingPatch(scene)"></uib-rating>
                            <br>
                            Websites:
                                <button class="btn btn-success btn-xs"
                                        popover-trigger="outsideClick"
                                        uib-popover-template="'static/partials/popover-templates/popover-website.template.html'"
                                        popover-append-to-body="true"
                                        popover-placement="right"
                                        type="button" class="btn btn-success">
                                    <span

                                            class="glyphicon glyphicon-plus"></span>
                                </button>
                            <br>

                            <span ng-repeat="site in scene.websites"> <a
                                    href="/#!/website/{{ site.id }}">  {{ site.name }}</a> <span
                                    class="glyphicon glyphicon-remove"
                                    ng-click="$ctrl.removeItem(scene,site,'websites',false)"></span> {{$last ? '' : ', '}} </span>

                            </span>

                    <br>
                        <span>Tags:
                            <button class="btn btn-success btn-xs"
                                    popover-trigger="outsideClick"
                                    uib-popover-template="'static/partials/popover-templates/popover-tag.template.html'"
                                    popover-append-to-body="true"
                                    popover-placement="right"
                                    type="button" class="btn btn-success"
                            >
                                    <span

                                            class="glyphicon glyphicon-plus"></span>
                                </button>
                            <br>
                            <span ng-repeat="tag in scene.scene_tags"> <a
                                    href="/#!/scene-tag/{{ tag.id }}">  {{ tag.name }}</a> <span
                                    class="glyphicon glyphicon-remove"
                                    ng-click="$ctrl.removeItem(scene,tag,'scene_tags',false)"></span> {{$last ? '' : ', '}} </span>
                            </span>
                    <br>
                        <span>Performers:
                             <button class="btn btn-success btn-xs"
                                     popover-trigger="outsideClick"
                                     uib-popover-template="'static/partials/popover-templates/popover-actor.template.html'"
                                     popover-append-to-body="true"
                                     popover-placement="right"
                                     type="button">
                                    <span

                                            class="glyphicon glyphicon-plus"></span>
                                </button>
                            <br>
                            <span ng-repeat="actor in scene.actors">  <a
                                    href="/#!/actor/{{ actor.id }}">  {{ actor.name }}</a> <span
                                    class="glyphicon glyphicon-remove"
                                    ng-click="$ctrl.removeItem(scene,actor,'actors',false)"></span> {{$last ? '' : ', '}} </span>
                            </span>


                </td>

                        </table>

                </div>

            </md-virtual-repeat-container>
        </md-content>
    </div>
    -->


    <!--
    <div class="top md-whiteframe-z1"
         infinite-scroll="$ctrl.infNextPage()"
         infinite-scroll-listen-for-event="list:filtered"
         infinite-scroll-disabled="$ctrl.working"
         infinite-scroll-distance="3">

        <md-list flex>


            <md-list-item ng-repeat="scene in $ctrl.infiniteScenes" layout-padding layout-align="start center">
                <div flex="10" class="rank" layout="row" layout-align="center center">
                    <span>{{$index + 1}}
                     <md-checkbox ng-if="$ctrl.tagMultiple" ng-model="scene.selected" ng-click="$ctrl.sceneSelectToggle(scene)" aria-label="Checkbox 1">
                     </md-checkbox>
                        </span>

                </div>
                <div flex="35" flex-gt-sm="25" class="image" layout="column" layout-align="center start">
                    <a href="/#!/scene/{{ scene.id }}">
                        <img src="{{ scene.thumbnail }}" style="width: {{ $ctrl.thumbWidth }}px"/>
                    </a>

                </div>
                <div flex layout-gt-sm="row" class="detail">
                    <div flex-gt-sm="70" layout="column">
                        <div class="name header">{{ scene.name }}</div>
                        <div class="actors">


                            <md-chips ng-model="scene.actors"
                                      md-autocomplete-snap
                                      md-on-add="$ctrl.chipOnAdd($chip,'actors',scene)"
                                      md-on-remove="$ctrl.chipOnRemove($chip,'actors',scene)"
                                      md-on-select="$ctrl.chipOnSelect($chip,'actors')"
                                      md-transform-chip="$ctrl.transformChip($chip,'actors',scene)">
                                <md-autocomplete
                                        md-search-text="searchText"
                                        md-items="item in $root.autoCompleteGetItems('actors',searchText)"
                                        md-item-text="item.name"
                                        md-autoselect="true"
                                        md-select-on-match="true"
                                        md-no-cache="true"
                                        placeholder="Add an Actor">

                                    <md-item-template>
                                  <span class="item-title">
                                    <img ng-src="{{ item.thumbnail }}" class="md-avatar" style="width: 32px">
                                    <span md-highlight-text="searchText" md-highlight-flags="gi">{{ item.name }}</span>
                                  </span>

                                    </md-item-template>


                                </md-autocomplete>
                                <md-chip-template>
                                    <img ng-src="{{$chip.thumbnail}}" style="width: 16px">
                                    <span>{{$chip.name}}</span>
                                </md-chip-template>
                            </md-chips>


                        </div>
                        <div class="scene-tags">

                            <md-chips ng-model="scene.scene_tags"
                                      md-autocomplete-snap
                                      md-on-add="$ctrl.chipOnAdd($chip,'scene_tags',scene)"
                                      md-on-remove="$ctrl.chipOnRemove($chip,'scene_tags',scene)"
                                      md-on-select="$ctrl.chipOnSelect($chip,'scene_tags')"
                                      md-transform-chip="$ctrl.transformChip($chip,'scene_tags',scene)">

                                <md-autocomplete
                                        md-search-text="searchText"
                                        md-items="item in $root.autoCompleteGetItems('scene_tags',searchText)"
                                        md-item-text="item.name"
                                        md-autoselect="true"
                                        md-select-on-match="true"
                                        md-no-cache="false"
                                        placeholder="Add Scene Tag">
                                    <span md-highlight-text="searchText">{{ item.name }}</span>
                                </md-autocomplete>
                                <md-chip-template>
                                    <span>{{$chip.name}}</span>
                                </md-chip-template>
                            </md-chips>

                        </div>
                        <div class="websites">
                            <md-chips ng-model="scene.websites"
                                      md-autocomplete-snap
                                      md-on-add="$ctrl.chipOnAdd($chip,'websites',scene)"
                                      md-on-remove="$ctrl.chipOnRemove($chip,'websites',scene)"
                                      md-on-select="$ctrl.chipOnSelect($chip,'websites',scene)"
                                      md-transform-chip="$ctrl.transformChip($chip,'websites',scene)">
                                <md-autocomplete
                                        md-search-text="searchText"
                                        md-items="item in $root.autoCompleteGetItems('websites',searchText)"
                                        md-item-text="item.name"
                                        md-autoselect="true"
                                        md-select-on-match="true"
                                        md-no-cache="true"
                                        placeholder="Add a website">

                                    <span md-highlight-text="searchText">{{ item.name }}</span>
                                </md-autocomplete>
                                <md-chip-template>
                                    <span>{{$chip.name}}</span>
                                </md-chip-template>
                            </md-chips>

                        </div>
                        <div class="date content">Added {{ scene.date_added | date:'dd MMMM yyyy':'z'}}</div>
                    </div>
                    <div flex-gt-gm="50" layout="column">
                        <div flex-auto="" layout="column">
                            <md-fab-speed-dial ng-hide="demo.hidden" md-direction="left" md-open="demo.isOpen"
                                               class="md-scale md-fab-top-right"
                                               ng-class="{ 'md-hover-full': demo.hover }"
                                               ng-mouseenter="demo.isOpen=true" ng-mouseleave="demo.isOpen=false">
                                <md-fab-trigger>
                                    <md-button aria-label="menu" class="md-fab">
                                        <md-tooltip md-direction="top" md-visible="tooltipVisible">Menu</md-tooltip>

                                    </md-button>
                                </md-fab-trigger>

                                <md-fab-actions>
                                    <div ng-repeat="item in $ctrl.actionList">
                                        <md-button aria-label="{{ item.name }}" class="md-fab md-raised md-mini"
                                                   ng-click="$ctrl.actionClicked($event, item, scene, $ctrl.selectedScenes)">
                                            <md-tooltip md-direction="{{ item.direction }}" md-visible="tooltipVisible"
                                                        md-autohide="false">
                                                {{ item.name }}
                                            </md-tooltip>


                                        </md-button>
                                    </div>
                                </md-fab-actions>
                            </md-fab-speed-dial>
                            </md-content>
                        </div>
                        <div class="rating content">Rating: {{ scene.rating }}</div>

                    </div>

                </div>

            </md-list-item>
        </md-list>

    </div>
    -->

    <div class="virtualRepeatdemoDeferredLoading">
        <md-content layout="column">

            <md-virtual-repeat-container id="vertical-container">
                <div layout="column">
                    <div md-virtual-repeat="scene in $ctrl.dynamicItems" md-on-demand="" flex=""
                         class="repeated-item-scene">

                        <div layout="row" layout-align="space-around center">
                            <div flex="2">
                            <span>{{$index + 1}}
                                 <md-checkbox ng-if="$ctrl.tagMultiple" ng-model="scene.selected"
                                              ng-click="$ctrl.sceneSelectToggle(scene)" aria-label="Checkbox 1">
                                 </md-checkbox>
                        </span>
                            </div>
                            <div flex="15">
                                <a href="/#!/scene/{{ scene.id }}">
                                    <img src="{{ scene.thumbnail }}" style="width: 240px"/>
                                </a>
                            </div>
                            <div layout="column">
                                <div flex><a href="/#!/scene/{{ scene.id }}">{{ scene.name }}</a></div>

                                <div flex>
                                    <md-chips ng-model="scene.actors"
                                              md-autocomplete-snap
                                              md-on-add="$ctrl.chipOnAdd($chip,'actors',scene)"
                                              md-on-remove="$ctrl.chipOnRemove($chip,'actors',scene)"
                                              md-on-select="$ctrl.chipOnSelect($chip,'actors')"
                                              md-transform-chip="$ctrl.transformChip($chip,'actors',scene)">
                                        <md-autocomplete
                                                md-search-text="searchText"
                                                md-items="item in $root.autoCompleteGetItems('actors',searchText)"
                                                md-item-text="item.name"
                                                md-autoselect="true"
                                                md-select-on-match="true"
                                                md-no-cache="true"
                                                placeholder="Add an Actor">

                                            <md-item-template>
                                  <span class="item-title">
                                    <img ng-src="{{ item.thumbnail }}" class="md-avatar" style="width: 32px">
                                    <span md-highlight-text="searchText" md-highlight-flags="gi">{{ item.name }}</span>
                                  </span>

                                            </md-item-template>


                                        </md-autocomplete>
                                        <md-chip-template>
                                            <img ng-src="{{$chip.thumbnail}}" style="width: 16px">
                                            <span>{{$chip.name}}</span>
                                        </md-chip-template>
                                    </md-chips>
                                </div>

                                <div flex>
                                    <md-chips ng-model="scene.scene_tags"
                                              md-autocomplete-snap
                                              md-on-add="$ctrl.chipOnAdd($chip,'scene_tags',scene)"
                                              md-on-remove="$ctrl.chipOnRemove($chip,'scene_tags',scene)"
                                              md-on-select="$ctrl.chipOnSelect($chip,'scene_tags')"
                                              md-transform-chip="$ctrl.transformChip($chip,'scene_tags',scene)">

                                        <md-autocomplete
                                                md-search-text="searchText"
                                                md-items="item in $root.autoCompleteGetItems('scene_tags',searchText)"
                                                md-item-text="item.name"
                                                md-autoselect="true"
                                                md-select-on-match="true"
                                                md-no-cache="false"
                                                placeholder="Add Scene Tag">
                                            <span md-highlight-text="searchText">{{ item.name }}</span>
                                        </md-autocomplete>
                                        <md-chip-template>
                                            <span>{{$chip.name}}</span>
                                        </md-chip-template>
                                    </md-chips>
                                </div>

                                <div flex=>
                                    <md-chips ng-model="scene.websites"
                                              md-autocomplete-snap
                                              md-on-add="$ctrl.chipOnAdd($chip,'websites',scene)"
                                              md-on-remove="$ctrl.chipOnRemove($chip,'websites',scene)"
                                              md-on-select="$ctrl.chipOnSelect($chip,'websites')"
                                              md-transform-chip="$ctrl.transformChip($chip,'websites',scene)">
                                        <md-autocomplete
                                                md-search-text="searchText"
                                                md-items="item in $root.autoCompleteGetItems('websites',searchText)"
                                                md-item-text="item.name"
                                                md-autoselect="true"
                                                md-select-on-match="true"
                                                md-no-cache="true"
                                                placeholder="Add a website">

                                            <span md-highlight-text="searchText">{{ item.name }}</span>
                                        </md-autocomplete>
                                        <md-chip-template>
                                            <span>{{$chip.name}}</span>
                                        </md-chip-template>
                                    </md-chips>

                                </div>


                            </div>
                            <div layout="column">
                                <div flex>

                                    <md-menu>
                                        <md-button class="md-raised" ng-click="$ctrl.openMenu($mdOpenMenu, $event)">
                                            Button
                                        </md-button>
                                        <md-menu-content width="4">


                                            <md-menu-item ng-repeat="item in $ctrl.actionList">
                                                <md-button
                                                        ng-click="$ctrl.actionClicked($event, item, scene, $ctrl.selectedScenes)">
                                                    {{ item.name }}
                                                </md-button>
                                            </md-menu-item>

                                        </md-menu-content>
                                    </md-menu>
                                </div>
                                <div flex>
                                    <md-button class="md-raised" ng-click="$ctrl.playScene(scene)">
                                        Play Scene
                                    </md-button>
                                </div>
                            </div>


                        </div>
                    </div>


                </div>
            </md-virtual-repeat-container>


        </md-content>
    </div>

    <!--
    <div id=big-scroll-item>
        <table>
            <tr ng-repeat="scene in $ctrl.scenes">
                <td>
                    <a href="/#!/scene/{{ scene.id }}">
                        <img ng-src="{{ scene.thumbnail }}" class="thumb-wide"
                             alt="{{ scene.name }}"
                        />
                    </a>
                </td>
                <td>
                    <h4>
            <span>
                <md-checkbox ng-if="$ctrl.tagMultiple" ng-model="scene.selected"
                             ng-click="$ctrl.sceneSelectToggle(scene)" aria-label="Checkbox 1">
                </md-checkbox>

                {{$index + 1}})
                <a href="/#!/scene/{{ scene.id }}">  {{ scene.name }}</a>

                            <span class="glyphicon glyphicon-play-circle on-hover-red-cursor-pointer"
                                  uib-popover-html="'Play scene.'"
                                  popover-trigger="mouseenter" popover-placement="right"
                                  ng-click="$ctrl.playScene(scene)"


                            ></span>

                <label class="switch"
                       uib-popover-html="'Toggle Runner Up.'"
                       popover-trigger="mouseenter" popover-placement="top">
                <input type="checkbox" ng-model="scene.is_runner_up" ng-change="$ctrl.sceneRunnerUpToggle(scene)">
                <div class="slider round"></div>
                </label>

                </span>

                    <span ng-click="$ctrl.confirmRemove(scene,scene,'delete',false)"
                          class="glyphicon glyphicon-trash on-hover-red-cursor-pointer"
                          uib-popover-html="'<strong>Remove</strong> scene(s) from the database!'"
                          popover-trigger="mouseenter">

                            </span>

                    <span ng-if="$ctrl.tagMultiple" ng-click="$ctrl.confirmRemove(scene,scene,'delete',true)"
                          class="glyphicon glyphicon-fire on-hover-red-cursor-pointer"
                          uib-popover-html="'<h2><font color=&quot;red&quot;>CAUTION!</h2></font><strong>Will delete
                           the scene(s) files from disk!</strong><i> Will only work if at least one
                          item is checked, this is to avoid accidental deletion.'"
                          popover-trigger="mouseenter">

                    </span>
                        <button

                                class="btn btn-success btn-xs"
                                popover-trigger="outsideClick"
                                uib-popover-template="'static/partials/popover-templates/popover-playlist.template.html'"
                                popover-append-to-body="true"
                                popover-placement="top"
                                type="button" class="btn btn-success">
                                    <span
                                            popover-trigger="mouseenter"
                                            uib-popover-html="'Add Scene to a playlist.'"
                                            popover-append-to-body="true"
                                            popover-placement="top"

                                            class="glyphicon glyphicon-plus"></span>
                        </button>

                        <span ng-click="$ctrl.removeSceneFromPlaylist(scene)">
                            <button
                                    ng-if="$ctrl.playlistLoaded"

                                    class="btn btn-danger btn-xs"
                                    popover-trigger="mouseenter"
                                    uib-popover-html="'Remove Scene From current playlist.'"
                                    popover-append-to-body="true"
                                    popover-placement="top"
                                    type="button" class="btn btn-danger">
                                    <span

                                            class="glyphicon glyphicon-minus"></span>

                        </button>
                        </span>


                    </h4>






                        <span>
                            <uib-rating ng-model="scene.rating" max="10" read-only="isReadonly"
                                        on-hover="hoveringOver(value)"
                                        on-leave="overStar = null" titles="['one','two','three']"
                                        aria-labelledby="default-rating"
                                        ng-click="$ctrl.sceneRatingPatch(scene)"></uib-rating>
                            <br>
                            Websites:
                                <button class="btn btn-success btn-xs"
                                        popover-trigger="outsideClick"
                                        uib-popover-template="'static/partials/popover-templates/popover-website.template.html'"
                                        popover-append-to-body="true"
                                        popover-placement="right"
                                        type="button" class="btn btn-success">
                                    <span

                                            class="glyphicon glyphicon-plus"></span>
                                </button>
                            <br>

                            <span ng-repeat="site in scene.websites"> <a
                                    href="/#!/website/{{ site.id }}">  {{ site.name }}</a> <span
                                    class="glyphicon glyphicon-remove"
                                    ng-click="$ctrl.removeItem(scene,site,'websites',false)"></span> {{$last ? '' : ', '}} </span>

                            </span>

                    <br>
                        <span>Tags:
                            <button class="btn btn-success btn-xs"
                                    popover-trigger="outsideClick"
                                    uib-popover-template="'static/partials/popover-templates/popover-tag.template.html'"
                                    popover-append-to-body="true"
                                    popover-placement="right"
                                    type="button" class="btn btn-success"
                            >
                                    <span

                                            class="glyphicon glyphicon-plus"></span>
                                </button>
                            <br>
                            <span ng-repeat="tag in scene.scene_tags"> <a
                                    href="/#!/scene-tag/{{ tag.id }}">  {{ tag.name }}</a> <span
                                    class="glyphicon glyphicon-remove"
                                    ng-click="$ctrl.removeItem(scene,tag,'scene_tags',false)"></span> {{$last ? '' : ', '}} </span>
                            </span>
                    <br>
                        <span>Performers:
                             <button class="btn btn-success btn-xs"
                                     popover-trigger="outsideClick"
                                     uib-popover-template="'static/partials/popover-templates/popover-actor.template.html'"
                                     popover-append-to-body="true"
                                     popover-placement="right"
                                     type="button">
                                    <span

                                            class="glyphicon glyphicon-plus"></span>
                                </button>
                            <br>
                            <span ng-repeat="actor in scene.actors">  <a
                                    href="/#!/actor/{{ actor.id }}">  {{ actor.name }}</a> <span
                                    class="glyphicon glyphicon-remove"
                                    ng-click="$ctrl.removeItem(scene,actor,'actors',false)"></span> {{$last ? '' : ', '}} </span>
                            </span>


                </td>
            </tr>
        </table>
    </div>
-->
</div>

<div class="col-md-12" id="big-scroll-item" ng-if="$ctrl.gridView">
    <div class="row-fluid" id="scene-list-grid">
        <div class="col-md-3" ng-repeat="scene in $ctrl.scenes">
            <a href="/#!/scene/{{ scene.id }}">
                <img
                        uib-popover-template="'static/js/app/scene-list/scene-list-grid-popover.template.html'"
                        popover-append-to-body="true"
                        popover-trigger="mouseenter" popover-placement="bottom"

                        ng-src="{{ scene.thumbnail }}"
                        alt="{{ scene.name }}"
                        style="width: 360px;"/>


            </a>
        </div>
    </div>
</div>
