
<!--
<button type="button" ng-click="$ctrl.multiTag()" class="btn btn-default btn-sm">
        Tag/Delete Multiple Scenes
    </button>
    <button type="button" ng-click="$ctrl.playRandomScene()" class="btn btn-default btn-sm">
        Play Random
    </button>

    <button type="button" ng-if="$ctrl.tagMultiple" ng-click="$ctrl.selectAll()" class="btn btn-default btn-sm">
        Select All
    </button>

    <button type="button" ng-if="$ctrl.tagMultiple" ng-click="$ctrl.selectNone()" class="btn btn-default btn-sm">
        Select None
    </button>

    <md-button class="md-raised" ng-click="$ctrl.advSearch($event)">
        Adv Search
    </md-button>

  -->

<div ng-if="!$ctrl.gridView">
    <div class="virtualRepeatdemoDeferredLoading">
        <md-content layout="column">

            <md-virtual-repeat-container id="vertical-container">
                <div layout="column">
                    <div md-virtual-repeat="scene in $ctrl.dynamicItems" md-on-demand="" flex=""
                         class="repeated-item-scene">
                        <div ng-include="'static/js/app/scene-list/single-item/list.html'"></div>

                    </div>


                </div>
            </md-virtual-repeat-container>


        </md-content>
    </div>


</div>

<div ng-if="$ctrl.gridView">

    <div class="virtualRepeatdemoDeferredLoading-grid">
        <md-content layout="column">

            <md-virtual-repeat-container id="vertical-container">
                <div layout="column">
                    <div md-virtual-repeat="item in $ctrl.dynamicItems" md-on-demand="" flex=""
                         class="repeated-item-scene-grid">
                        <div ng-include="'static/js/app/scene-list/grid/row.html'"></div>

                    </div>


                </div>
            </md-virtual-repeat-container>


        </md-content>
    </div>


</div>


<!--

<div class="col-md-12" id="big-scroll-item" ng-if="$ctrl.gridView">
    <div class="row-fluid" id="scene-list-grid">
        <div class="col-md-3" ng-repeat="scene in $ctrl.scenes">
            <a href="/#!/scene/{{ scene.id }}">
                <img
                        uib-popover-template="'static/js/app/scene-list/scene-list-grid-popover.template.html'"
                        popover-append-to-body="true"
                        popover-trigger="mouseenter" popover-placement="bottom"

                        ng-src="{{ scene.thumbnail }}"
                        alt="{{ scene.name }}"
                        style="width: 360px;"/>


            </a>
        </div>
    </div>
</div>
-->