
<uib-alert ng-repeat="alert in $ctrl.alerts" class="enter" type="{{ alert.type }}" close="$ctrl.closeAlert($index)"
           dismiss-on-timeout="{{ alert.timeout }}">{{ alert.msg }}</uib-alert>



<md-button ng-click="toggleRight()" class="md-raised">
            Toggle Sidenav
          </md-button>

<md-sidenav class="md-sidenav-right" md-component-id="right" md-disable-backdrop="" md-whiteframe="4">

      <div ng-include="'static/js/app/actor-detail/side-nav-content.html'"></div>

</md-sidenav>



<section-list-wrapper main-page="false" section-type="'SceneList'"></section-list-wrapper>















